[submodule "host"]
	path = host
	url = https://github.com/andrey31453/mf_host.git
[submodule "apps/app1"]
	path = apps/app1
	url = https://github.com/andrey31453/mf_app_app1.git
[submodule "setup"]
	path = setup
	url = https://github.com/andrey31453/mf_setup.git
[submodule "libs/ts"]
	path = libs/ts
	url = https://github.com/andrey31453/arora-npm-ts.git
[submodule "libs/styles"]
	path = libs/styles
	url = https://github.com/andrey31453/arora-npm-styles.git
